@media screen and (max-width: 1090px) {
	.section-wrapper,
	.footer-wrapper {
	width: 100% !important;
	padding: 0 80px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}

}

@media screen and (max-width: 960px) {


	.riseCaptions h1 {
		font-size: 22px;
		line-height: 24px;
	}

	.riseCaptions h2 {
		font-size: 22px;
		line-height: 24px;
	}

	.riseCaptions h3 {
		font-size: 18px;
		line-height: 24px;
	}

	.riseCaptions sup {
		top: -6px;
	}

	.riseCaptions .store-btn {
		font-size: 18px;
		padding: 24px;
		margin-left: -24px
	}

	.laptop-template .riseCaptions li .large-caption {
		padding: 21px 30px 19px 30px;
		margin-left: -48px;
		letter-spacing: -1px;

		font-size: 36px;
		line-height: 48px;
		color: #fff;
	}

}

















@media screen and (max-width: 740px) {


	.sections-slider-holder {
		display: none;
	}

	h1 {
		font-size: 24px;
		line-height: 30px;

		width: 100% !important;
	}

	h2 {
		font-size: 18px;
		line-height: 24px;
	}

	html {
		width: 100%;
		height: auto;
	}

	body {
		width: 100%;
		height: auto;
		overflow: visible;
		text-align: center;
	}

	section {
		position: static;
		width: 100% !important;
	}

	.section-wrapper {
		display: block;
	}

	.phone-template .slider-wrapper-nav {
		top: 35%;
	}

	.phone-template .riseCaptions li {
		top: 0 !important;
	}

	.tablet-template .riseCaptions li {
		top: 0 !important;
	}

	.tablet-template .slider-wrapper-nav {
		top: 33%;
	}

	.riseSlider,
	.tablet-template .riseSlider {
		display: inline-block;
		float: none;
		width: 100%;
		max-width: 370px;
		margin: 0;
		margin-bottom: 48px;
	}

	.tablet-template .riseSlider {
		max-width: 553px;
	}

	.riseCaptions,
	.tablet-template .riseCaptions {
		float: none;
		width: 100%;
		margin: 0;
	}

	.riseCaptions li {
		text-align: center;
	}

	.riseCaptions .store-btn {
		margin-left: 0;
		margin-right: 0;
	}







	.content-holder {
		width: 100% !important;
		display: block;
	}


	.laptop-template .riseSlider {
		max-width: inherit;
	}

	.laptop-template .slider-wrapper-nav {
		top: 40%;
	}
	
	.laptop-template .riseCaptions li .large-caption {
		padding: 15px 20px 14px 20px;
		margin-left: -36px;
		margin-bottom: 15px;

		font-size: 24px;
		line-height: 24px;
	}

	.laptop-template .riseCaptions li .small-caption {
		padding: 9px 18px 8px 15px;
		margin-left: -11px;
		margin-bottom: 40px;

		font-size: 17px;
		line-height: 24px;
	}

	.screenshots-template h1 {
		margin-bottom: 48px;
	}

	.gallery {
		width: inherit !important;
		text-align: center;
	}

	.gallery span {
		width: 48%;
		display: inline-block;
		float: none;
		margin-bottom: 24px;
	}

	.gallery span:nth-child(3n+0) {
		margin-right: 0.2%;
	}

	.gallery span:nth-child(2n+0) {
		margin-right: 0;
	}

	.features {
		display: block;
		list-style: none;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.features li, .features li:last-child {
		display: block;
		width: 60%;
		margin: 0 auto;
		margin-bottom: 48px;
	}

	.features li>div {
	margin: 0 auto 15px auto;
	}

	.features li h1 {
		margin-bottom: 24px;
	}

	.default-template h1 {
		margin-bottom: 48px;
	}

	.default-template .captions-holder {
		display: block;
		width: auto;
		padding-right: 0;
		margin: 0;
		text-align: center;
	}

	.pricing-table {
		margin-bottom: 48px;
	}

	.pricing-table li, .pricing-table li.special-plan {
		width: 100%;
		margin: 0 auto 24px auto;
		top: 0;
	}

	.subscribe-template {
		padding-top: 72px;
	}

	.subscribe-template h1 {
		margin-bottom: 48px;
	}

	#newsletter {
		width: 100%;
		margin-bottom: 48px;
		height: auto;
	}

	#newsletter input#email-newsletter {
		width: 100%;
		padding: 23px 30px;
		border-right: 2px solid #fff;;
		float: none;
		text-align: center;
		margin-bottom: 12px;
	}

	#newsletter input#subscribe-newsletter {
		height: 79px;
		width: 100%;
		float: none;
	}

}













@media screen and (max-width: 620px) {



	.laptop-template .slider-wrapper-nav a.prev {
		margin-left: 40px;
	}

	.laptop-template .slider-wrapper-nav a.next {
		margin-right: 40px;
	}

	.slider-wrapper-nav .prev {
		margin-left: 20px; 
	}

	.slider-wrapper-nav .next{
		margin-right: 20px; 
	}

	.tablet-template .slider-wrapper-nav .prev {
		margin-left: 12px; 
	}

	.tablet-template .slider-wrapper-nav .next {
		margin-right: 12px; 
	}

	.laptop-template .riseCaptions li .large-caption {
		margin-bottom: 15px;

		font-size: 16px;
		line-height: 24px;
	}

	.laptop-template .riseCaptions li .small-caption {
		margin-bottom: 40px;

		font-size: 12px;
	}

}




@media screen and (max-width: 480px) {


	.phone-template .slider-wrapper-nav {
		top: 32%;
	}

	.gallery span {
		width: 100% !important;
	}

	.gallery span img {
		width: 100% !important;
	}

	.tablet-template .slider-wrapper-nav {
		top: 27%;
	}

	.tablet-template .slider-wrapper-nav .prev {
		margin-left: 10px;
	}

	.tablet-template .slider-wrapper-nav .next {
		margin-right: 5px;
	}

	.features li,.features li, .features li:last-child {
		width: 100%;
	}

	.laptop-template .slider-wrapper-nav {
		top: 30%;
	}

	.laptop-template .slider-wrapper-nav a.prev {
		margin-left: 30px;
	}

	.laptop-template .slider-wrapper-nav a.next {
		margin-right: 30px;
	}

	.laptop-template .riseCaptions li .large-caption {
		padding: 7px 12px 6px 12px;
		margin-left: -36px;
		margin-bottom: 15px;

		font-size: 12px;
		letter-spacing: 0px;
	}

	.laptop-template .riseCaptions li .small-caption {
		padding: 7px 12px 6px 12px;
		margin-left: -11px;
		margin-bottom: 40px;
	}


}
