<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta name="description" content="Command and Conquer - Bitotsav 2014. The gaming event of BIT Mesra's Annual Techno-Cultural Festival and consists of gaming events including Counter Strike, FIFA, and Need for Speed.">
<meta name="keywords" content="command-and-conquer, command and conquer, bitotsav, bit-mesra, bit, mesra, ranchi, gaming-event, gaming, counter-strike, dota, age-of-empires, call-of-duty, need-for-speed, fifa, official bitotsav, bitotsav site, bitotsav 2013, bitotsav 13, bitotsav, bit mesra, fest, college fest, ranchi, tech fest, cultural fest, college festival, techno-cultural fest, inter-college fest, dota, fifa, counter strike">
<meta name="author" content="cnc2014" />
<meta property="og:title" content="Command n Conquer 2014" />
<meta property="og:type" content="event" />
<meta property="og:image" content="http://cnc2014.com/images/inicial/cnc.png" />
<meta property="og:description" content="Command and Conquer - Bitotsav 2014. The gaming event of BIT Mesra's Annual Techno-Cultural Festival. It consists of various gaming events including Counter Strike, FIFA, and Need for Speed." />
<meta property="fb:admins" content="brijeshb42"/>

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Command n Conquer 2014" />
<meta name="twitter:description" content="Command and Conquer - Bitotsav 2014. The gaming event of BIT Mesra's Annual Techno-Cultural Festival. It consists of various gaming events including Counter Strike, FIFA, and Need for Speed." />
<meta name="twitter:image" content="http://cnc2014.com/images/inicial/cnc.png" />