
<!DOCTYPE html>
<html class=no-js>
<head>
<meta charset=utf-8>
<title>Command n Conquer</title>
{% include meta.html %}
<meta name=viewport content="width=device-width, initial-scale=1">
<link href="css/pace.min.css" rel="stylesheet" />
<script src="js/pace.min.js"></script>
<link rel=stylesheet href="css/style.css">
<!--<script src="js/vendor/modernizr-2.7.1.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-47254687-1','cnc2014.com');ga('send','pageview');</script>
</head>
<body>
<!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div id="menubar">
<div class="wrap">
<div class="grid">
<div class="unit whole">
<ul>
<li><a href="#home">HOME</a></li>
<li><a href="#tshirt">t-shirt</a></li>
<li><a href="#gameCS">cs</a></li>
<li><a href="#gameFIFA">fifa</a></li>
<li><a href="#gameNFS">nfs</a></li>
<li><a href="#gameDota">dota</a></li>
<li><a href="#contactUs">Contact us</a></li>
</ul>
</div>
</div>
</div>
</div>
<div id=home class="back back_0">
<div class=img_1>
<ul id=scene>
<li class=layer data-depth=0.30><img src="img/explosion2.png" alt=explosion2></li>
<li class=layer data-depth=0.70><img src="img/explosion1.png" alt=explosion1></li>
<li class=layer data-depth=1.00><img src="img/cnc.png" alt=cnclogo></li>
</ul>
</div>
</div>
<div id=tshirt class="back_blank title_t">
<h1>T-Shirt</h1>
</div>
<div class="back back_t wrap">
<div class=grid>
<div class="unit whole">
<img style="width:100%;margin-top:20px" src="img/tshirt.png" alt="CNC Tshirt">
<div class=grid>
<div class="unit whole"><a target=_blank href="https://docs.google.com/forms/d/1Nwd6E8gx-_MtO8F0oLqLY7NIzbOt4yI8467cLH7_FvI/viewform">Get It</a></div>
</div>
</div>
</div>
</div>
<div id=gameCS class="back_blank title_1">
<h1>CS:1.6</h1>
</div>
<div class="back back_1 wrap">
<div class=grid>
<div class="unit whole">
<p>
<strong>Counter Strike</strong> needs no introduction. Its the one of the most played game in the world, and battles still rage between clans in the bid to become the best of the best.<br/>Here's your chance to put to test your FPS skills and be the best. BIT Mesra presents you CnC '13 , where clans from all over India will be competing against each other. Loads of prizes awaits for the ultimate winner. So, why wait - Play Hard, G0 Pr0...
</p>
<div class=grid>
<div class="unit whole"><a href="https://docs.google.com/forms/d/1Ullvh-GfuCKf9kSEd4BgHAkVZ-BD0VGwJpVdCr0Bj3E/viewform" target=_blank>Register</a></div>
</div>
</div>
</div>
<div class=grid>
<div class="unit whole">
<h1 class=title>Rules</h1>
<div class=grid>
<div class="unit half">
<ul class=rules>
<li class=nav-header style="color:#000">Game Version</li>
<li>Counter Strike 1.6 (Non-Steam)</li>
<li>ESRB Rating: Age 17+</li>
</ul>
<ul class=rules>
<li class=nav-header style="color:#000">General</li>
<li>All teams will play against each other and then top 2 from each group shall proceed to the next round</li>
<li>Map elimination will take place before every match by coin toss</li>
</ul>
<ul class=rules>
<li class=nav-header style="color:#000"> Competition Method</li>
<li>Official Maps: De_Dust2, De_Inferno, De_Nuke, De_Train.</li>
<li>5 vs 5 (Team Play, 5 players per team)</li>
<li>The 5 members of the team will be fixed and wont be changed under any circumstances.</li>
<li> Victory Condition: The first team to win 16 rounds is declared the winner</li>
<li>If both the teams do not agree for sides (in terms of systems) a coin toss will decide for the sides. A coin toss will determine starting sides, Counter-Terrorist or Terrorist</li>
<li>Semis n Finals will be best of three with 1 map eliminated by coin toss, and in case there is shortage of time semis will be of 1 map.</li>
<li>In the case of a 15-15 tie after regulation, the following steps will be taken:</li>
<li>a) If the match is in first phase, then the match will remain a tie and each team awarded 1 point.</li>
<li>If the match is in second phase, then the match will have overtime</li>
<li>Overtime consists of 6 rounds with starting money of $10,000 Each team will play 3 rounds as Terrorist and 3 rounds as Counter-Terrorist The team to win 4 rounds first, is declared the winner In the case of another tie, the overtime will be repeated until a winner is declared</li>
</ul>
</div>
<div class="unit half">
<p>Only team leaders are allowed to use public in-game messages (messagemode1) within a match The rule also applies when dead Use of messagemode1 by any member other than the team leader shall result in a warning Other team members must only use team message (messagemode2), while in a match Tournament Commitee may install third party program and/or join as an observer for tournament operations purposes, such as verifying match results or gathering match data.</p>
<ul class=rules>
<li class=nav-header style="color:#000">General Game Setting</li>
<li>Rounds: 30 Rounds (Max rounds format): Each Team plays 15 rounds as Terrorists and 15 rounds as Counter-Terrorists</li>
<li>Round Time: 1 minute 45 seconds</li>
</ul>
<ul class=rules>
<li class=nav-header style="color:#000">Approved Grenade Amount</li>
<li>a) Flashbangs: 2 </li>
<li>b) Grenades: 1 </li>
<li>c) Smoke Grenades: 1</li>
<li>Any use of more than the approved amount of grenades by any player, will result in a warning, loss of round or even match loss by forfeit</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div id=gameFIFA class="back_blank title_2">
<h1>FIFA</h1>
</div>
<div class="back back_2 wrap">
<div class=grid>
<div class="unit whole">
<p>
Get closer to the action than ever before by mastering the skills required to play like a real professional football player in <strong>FIFA</strong>.<br/>Design your own unique strategy to create the perfect formation and tactics. Set each player's exact position in the formation, and assign specific attacking and defensive runs to unlock the opposition.
</p>
<div class=grid>
<div class="unit whole"><a href="https://docs.google.com/forms/d/19IBgXR7yQlFVG0YySb3R5R7NBj6AYLhHM4zZSa5iBbU/viewform" target=_blank>Register</a></div>
</div>
</div>
</div>
<div class=grid>
<div class="unit whole">
<h1 class=title>Rules</h1>
<div class=grid>
<div class="unit half">
<ul class=rules>
<li class=nav-header style="color:#000">General Rules</li>
<li>Players should report at least 5 minutes before the scheduled reporting time. If any engagements should be informed to the organized beforehand. If a player does not show up by the match’s reporting time, he/she will be disqualified.</li>
<li>Players may bring their own gear (Keyboard, Controller, Headphones, etc.). Though we would provide basic gear, joystick will not be provided.</li>
<li>Manhandling of gear or any rash behavior will result in disqualification from CNC 13.</li>
<li>Fixtures determined are final and binding. Requests regarding change of opponents will be on based on the discretion of the organizers.</li>
</ul>
<ul class=rules>
<li class=nav-header style="color:#000">Gameplay rules</li>
<li>Organizers will decide the player/team who creates the multiplayer game through a coin toss. This is because the player who creates the multiplayer game gets the first kick-off.</li>
<li>In case of conflicts of preferred teams, a toss will decide the team assigned to the players (It is henceforth advised that the second team provided by the player during registration is of the same or higher rating as the first preference team).</li>
<li>During a corner kick, players are not allowed to shoot the ball directly from the spot straight into goal. Players are only allowed to cross the ball into the 6 yard box if a short corner is done Any goals resulting from the above mentioned scenario shall be disallowed.</li>
<li>No Overhead through ball.</li>
</ul>
</div>
<div class="unit half">
<ul class=rules>
<li>When the match ends in a draw extra time shall not be played till quarters. Match will be decided by penalties.</li>
<li>In case of interruption/connection lost match will be resumed from the current half. The score from the previous half will be carried on.</li>
<li>Game speed shall be normal or otherwise any if agreed upon by both players.</li>
<li>Initial stages will be 4 minutes per half. From quarter final onwards each half would be of 6 minutes.</li>
<li>Three substitutions will be allowed.</li>
<li>Time-play (time wastage) is forbidden.</li>
<li>It is forbidden to make a throw in directly into the opponent's penalty area. Should a player throw the ball directly into the opponent's penalty area he shall be warned. Should he persist, he shall be disqualified from the tournament. Any goals resulting from a throw in into the opponent's penalty area shall be disallowed.</li>
<li>A player/team who deliberately scores 2 own goals in a match will be given a warning. A subsequent (3rd) own-goal in the same match will result in immediate disqualification.</li>
<li>Decision in case of any dispute will be taken by the organizer and will be final and binding. No arguments will be entertained henceforth.</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div id=gameNFS class="back_blank title_3">
<h1>NFS</h1>
</div>
<div class="back back_3 wrap">
<div class=grid>
<div class="unit whole">
<p>
From the creators of the critically-acclaimed <strong>Need for Speed</strong> Underground series, Need for Speed Most Wanted combines the thrill of street racing and tuner customization with the intensity of police pursuits. Get in the driver’s seat of the most sought-after race cars—including tuners, exotics, muscle cars, and other sports cars—and experience high-speed, open-world street racing at its best. Tune your ride, win races, evade cops, become the most wanted. . . .
</p>
<div class=grid>
<div class="unit whole"><a target=_blank href="https://docs.google.com/forms/d/19IBgXR7yQlFVG0YySb3R5R7NBj6AYLhHM4zZSa5iBbU/viewform">Register</a></div>
</div>
</div>
</div>
</div>
<div id=gameDota class="back_blank title_4">
<h1>DOTA</h1>
</div>
<div class="back back_4 wrap">
<div class=grid>
<div class="unit whole">
<p>
Defense of the Ancients pits two teams of players against each other: the Sentinel and the Scourge. Players on the Sentinel team are based at the southwest corner of the map, and those on the Scourge team are based at the northeast corner. Each base is defended by towers and waves of units which guard the main paths leading to their base. In the center of each base is the "Ancient", a building that must be destroyed to win the game.<br/>Each human player controls one Hero, a powerful unit with unique abilities. In DotA, players on each side choose one of 104 heroes, each with different abilities and tactical advantages over other heroes. The scenario is highly team-oriented; it is difficult for one player to carry the team to victory alone. Defense of the Ancients allows up to ten players in a five-versus-five format and an additional two slots for referees or observers, often with an equal number of players on each side.
</p>
<div class=grid>
<div class="unit whole"><a target=_blank href="https://docs.google.com/forms/d/1Ullvh-GfuCKf9kSEd4BgHAkVZ-BD0VGwJpVdCr0Bj3E/viewform">Register</a></div>
</div>
</div>
</div>
<div class=grid>
<div class="unit whole">
<h1 class=title>Rules</h1>
<div class=grid>
<div class="unit whole">
<ul class=rules>
<li>warkey and customkey.txt are the only permissible tools that can be brought in a pen drive.</li>
<li>The map version is v6.72f.</li>
<li>The mode in game is 'captains mode' (-CM, neither -CM1 nor -CM2). It is forbidden to pause the game during the draft.</li>
<li>Game will be remade only in case of technical glitches.</li>
<li>After a remake the players have to pick the same heroes and same items and assume the same lanes as before.<br/>In case both teams agree you are of course allowed to do a remake with new items and/or lanes.</li>
<li>Both teams are responsible for saving the game every 15 minutes or after major events (big teamfights, roshan kills, barracks kills, etc.).<br/>Every save has to be announced with a pause.</li>
<li>Completely closing the entrance to the base using abilities(eg: fissure,sprout) is forbidden, as is rendering creeps unable to reach their destination by the use of similar abilities.</li>
<li>You may only block creeps by physically intercepting them with your hero model.</li>
<li>Backdooring is allowed.However You cannot use furion's teleport or by any other means to enter an enemy base unless your creeps are already present in the base.
</li>
<li>A maximum of two Necronomicons are allowed per team.</li>
<li>After your match make sure the refree saves the end screenshot.</li>
<li>Any inappropriate acts such as cursing, shouting, disturbing and fighting with opponent participants are strictly prohibited.</li>
<li>Comments and complaints should be addressed to the refree.</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div id=contactUs class="back_blank title_5">
<h1>Contact Us</h1>
</div>
<div class="back back_5 wrap">
<div class=grid>
<div class="unit half">
<h1>Pranav Raj <em>(SilverCrow)</em></h1>
<h2>Phone: +918757939238</h2>
<h3>Mail: pranav.raj18@gmail.com</h3>
</div>
<div class="unit half">
<h1>Shivam Pasari <em>(Awpertunity)</em></h1>
<h2>Phone: +917549011056</h2>
<h3>Mail: pasari.shivam@gmail.com</h3>
</div>
</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery||document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="js/vendor/jquery.mousewheel.js"></script>
<script src="js/vendor/jquery.parallax.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>
